body, html {
    height: 100%;
  }

.wrapper {
    /* padding-top: 50px; */
    
    background:   linear-gradient(
        rgba(26, 25, 25, 0.294), 
        rgba(26, 25, 25, 0.801)
      ), url("/img/frenchie.jpg") no-repeat center center fixed; 
      
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 10%;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}